{
  "root": true,
  "parser": "vue-eslint-parser",

  "parserOptions": {
    "parser": "@typescript-eslint/parser",
  },
  "plugins": ["vue", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-empty-function": "off",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always", // 允许自闭合在 HTML 空元素上
        },
        "svg": "always",
        "math": "always",
      },
    ],
    "vue/max-attributes-per-line": [
      "off", // 或者
      {
        "singleline": 0, // 允许单行无限个属性
        "multiline": {
          "max": 1, // 每行最多一个属性，如果超过一个，则换行
          "allowFirstLine": true, // 允许在第一行有一个以上的属性
        },
      },
    ],
    "vue/html-indent": "off",
  },
  "settings": {
    "vue": {
      "version": 3,
    },
  },
  "overrides": [
    {
      "files": ["**/*.vue"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off", // 如果你希望在 Vue 的 script 中允许使用 "any"
      },
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        // 这里可以添加 TypeScript 特定的规则
      },
    },
  ],
  "ignorePatterns": ["node_modules/", ".git/", "*.d.ts", "*.config.js"], // 可以选择性地忽略某些目录
}
